{% extends "base.html.twig" %}
{% block body %}
{% include('flash-messages.html.twig') %}
<div class="table-responsive-sm">
    <table class="table table-strip">
    {% for event in events %}
    <tbody>
        <tr><td>{{ event.eventName }}</td></tr>
        <tr><td><img src="{{ event.eventImg }}" class="rounded mx-auto d-block" alt="image"></td></tr>
        <tr><td>{{ event.eventDesc }}</td><tr>
        <tr><td>{{ event.eventDate}}</td></tr>
        <tr><td><a href="details/{{event.id}}" class="btn btn-success">Details</a><tr><td>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}